.fireball {
    position: absolute;
    background: url('https://dimitrovivan.github.io/Wizard-Game/images/fireball.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}