.keyboard-config {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include for-tablet-portrait-up {
        flex-direction: column;
    }

    input {
        width: 90px;
        padding: 20px 0;
        text-align: center;
        color: $white-900;
        text-transform: uppercase;
        font-size: 2.3rem;
        font-weight: 900;
        box-shadow: inset 0 0 8px 1px $blue-100;
        justify-self: center;
        caret-color: transparent;
    }

    h5 {
        font-size: 2.2rem;
        margin-bottom: 30px;
        text-align: center;
    }

    &__movement-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 100px;

        .key-w {
            grid-column: 1/3;
            justify-self: center;
        }

        .key-s {
            grid-column: 1/3;
            justify-self: center;
        }
    }

    &__shoot-heading {

        @include for-tablet-portrait-up {
            margin-top: 20px;
        }
    }

    &__shoot-inputs input{

        @include for-tablet-portrait-up {
            display: block;
            margin: 0 auto;
        }
    }

}