.page-wrapper {
    min-height: 100vh;
    max-height: 100vh;
    background: url('https://dimitrovivan.github.io/Wizard-Game/images/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}