.start-section {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px 20px 30px;
    background: transparent;
    border-radius: 5px;
    color: $white-900;
    box-shadow: 0px 0px 4px .5px $white-900;

    @include for-tablet-landscape-up {
        max-width: 80%;
        margin: 30px auto;
    }

    &.hide {
        display: none;
    }

    &__heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $blue-100;
    }

    &__btn {
        margin: 50px 50px 0 auto;
        padding: 1.5rem 3.5rem;
        background-color: $green-300;
        color: $black-900;
        font-weight: 700;
        border-radius: 10px;
        letter-spacing: 1px;
        transition: transform 1s;

        &:hover {
            box-shadow: 0px 5px 7px 1px $black-900;
        }
    }

}