.witch {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    background-image: url('../../images/witch.png');
    background-repeat: no-repeat;
    background-size: cover;
}