.wizard {
    position: absolute;
    z-index: 2;
    background-image: url("https://dimitrovivan.github.io/Wizard-Game/images/wizard.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;

    &--fire {
        background-image: url("https://dimitrovivan.github.io/Wizard-Game/images/wizard-fire.png");
    }
}
