.wizard {
    position: absolute;
    background-image: url("../../images/wizard.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;

    &--fire {
        background-image: url("../../images/wizard-fire.png");
    }
}
